<div>
<p>Items名 : <%= @title_items %></p>
<p>Excel : <%= @excel_items %></p>
<p>Items : <%= @items_erb %></p>
</div>
<div class="d-flex mb-4">
  <form action="/items/<%= params[:id] %>/edit" method="get">
    <input type="submit" value="編集" class="btn btn-primary me-2">
  </form>
  <form action="/items/<%= params[:id] %>" method="post">
    <label for="excel_items" class="form-label">Excel</label>
    <input type="file" id="excel_items" name="excel_items" accept=".xls,.xlsx" class="form-control">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="削除" class="btn btn-primary">
  </form>
</div>
<div>
  <a class="btn btn-secondary" href="/items">Items一覧に戻る</a>
</div>